  *{
        padding:0;
        margin:0;
        border:none;
        box-sizing:border-box;
        font-family: 'Noto Serif TC', serif;  
    }
    html,body{
        width: 100vw;
        height: 100vh; 
        height: calc(var(--vh, 1vh) * 100);   
    }

    .main{
        display: flex;
        width:100vw;
        height:100vh;
        height: calc(var(--vh, 1vh) * 100);
    }

    #loading{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        background-color: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #cbcbe9;
        border-bottom: 16px solid #cbcbe9;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    #map { 
        flex:3;
    }

    #list{
        min-width: 300px;
        flex:1;
        background-color:rgba(255, 255, 255, 0.6);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    #buyday,#dayno{
        color:#ff8550;
        font-size: 1.5rem;
        font-weight: bold;
    }

    #open_arrow{
        display:none;
    }

    .select-selected{
        padding: 10px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 20px;
        letter-spacing: 0.5px;
        width: 100%;
        margin-bottom:10px;
    }

    .select-selected:after{
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .d-none{
        display: none;
    }

    .list_selector{
        padding: 10px;
    }

    .store_detail{
        padding:1rem;
        background-color: #90b1ec;
        color:white;
        margin-bottom: 10px;
    }

    .store_detail:last-child{
        margin-bottom: 0;
    }

    .store_detail>p{
        line-height: 2rem;
    }

    .store_detail>span{
        text-align: right;
        font-size: 0.8rem;
        display: block;
    }
    
    .store_detail svg {
        margin: 0 5px 0 0px;
    }

    #mask_sel{
        display: flex;
        justify-content: space-around;
    }

    #mask_sel>button{
        padding: 0.3rem;
        /* border:1px solid grey; */
        border-radius: 4px;
        font-size: 16px;
        width: 30%;
        background-color: #c8d8dd;
        color:#fff;
    }

    .mask_size{
        display: flex;
        justify-content:space-around;
        margin:10px 0;
    }

    .mask_size span{
        width: 45%;
        border: 1px solid;
        border-radius: 20px;
        /* height: 48px; */
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mask_size [data-size="adult"]{
        background-color: #bdd0f3;
    }

    .mask_size [data-size="child"]{
        background-color: #afdae6;
    }

    .store_detail a[href^="tel:"] {
        color: #fff;
        text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
        .main{
            flex-direction:column;
        }

        #map{
            position: relative;
        }

        #list{
            flex:2;
            transition:all .5s ease-in-out;
        }

        #list.active {
            flex:8;
        }

        #open_arrow{
            display: block;
            border-radius: 12px 12px 0 0;
            background-color:#90b1ec;
            color: white;
            position:absolute;
            left: calc(50% - 25px);
            z-index: 9999;
            bottom: 0;
            cursor: pointer;
            width:50px;
        }

        #open_arrow.active,#open_arrow.hover{
            color:#fff;
            background-color: #8cbcf1;
        }  

        #open_arrow svg{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 36px; 
            pointer-events: none;
        }

        #open_arrow.active svg{
            transform: rotate(180deg);
        }

        .store_detail{
            padding: 1rem 2rem;
        }

        .mask_size span{
            font-size: 1.5rem;
        }
    }


/*   */
    /* cluster map */
    .marker-cluster-small {
        background-color:rgb(178, 175, 255) ;
    }
    .marker-cluster-small div {
        background-color:#fefffe;
    }
    .marker-cluster-medium {
        background-color:#fbfcf2;
    }
    .marker-cluster-medium div { 
        background-color: #fff32f;
    }
    .marker-cluster-large {
        background-color: rgba(253, 156, 115, 0.6);
    }
    .marker-cluster-large div {
        background-color: rgba(241, 128, 23, 0.6);
    }
    .marker-cluster {
        background-clip: padding-box;
        border-radius: 20px;
    }
    .marker-cluster div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    .marker-cluster span {
        line-height: 30px;
    }

    .leaflet-interactive{
        stroke:honeydew;
        -webkit-text-stroke :honeydew;
        fill:white;
    }